{% extends "index.html" %}

{% block content %}
    <h2> Crypterino </h2>
    <p>Welcome to the cryptographic module! Use the above field for the message you want to encrypt or decrypt, and in the below field choose a key (a word, phrase or anything) that you will need to decrypt the message.</p> 
    <p>will then be able to copy and paste the binary output of an encryption, or the plain text equivalent for a decryption.</p>
    <form action="" method="post" novalidate>

      {{ form.hidden_tag() }}

      <p>{{ form.input.label }} : {{ form.input(placeholder="Hello World") }} {{ form.submit() }}</p>
      <p>{{ form.key.label }} : {{ form.key(placeholder="This is a secret to everyone") }} {{ form.encrypt.label }}{{form.encrypt()}}</p>
      {% for error in form.input.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

    </form>
{% endblock %}
