{% extends "index.html" %}

{% block content %}

  <h2> Filerinos </h2>

  <h3> Here be a list of files (None of wich are mine or should be considered as so, I decline all responsability for whatever horror might lurk there, please god help us all)</h3>

  {% if fileList|length %}
  {% for file in fileList %}
  <div class="masterbox">
    <div class="imagebox">
      <img src="static/{{file}}" alt="{{file}}" class="listImg">
    </div>
    <div class="formbox">
      <form action = "{{url_for('delete')}}" method="POST">
        <p>{{file.split("/")[-1]}}</p>
        <button type="submit" name="file" id="deletebutton" value="static/{{file}}">Delete</button>

      </form>
      <form action = "{{url_for('hide')}}" method="POST">
        <button type="submit" name="file" id="hidebutton" value ="static/{{file}}">Hide in</button>
      </form>

      <form action = "{{url_for('reveal')}}" method="POST">
        <button type="submit" name="file" id="revealbutton" value ="static/{{file}}">Reveal from</button>
      </form>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p> There are no files here, thank Chtulu for that!</p>
  {% endif %}


{% endblock %}
