{% extends "index.html" %}

{% block content %}
    <h2> Hiderino </h2>
    <form action="" method="post" novalidate>

      {{ form.hidden_tag() }}

      <p>{{ form.input.label }} : {{ form.input(placeholder="Hello World", maxlength=255, cols="100", rows="25") }} {{ form.submit() }}</p>
      <p>{{ form.image() }}</p>
      {% for error in form.input.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

    </form>
{% endblock %}
