<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyWebPage</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
  <div class="header">
    <a class="accessbar" href="{{ url_for('index') }}">Home</a>
    <!--<a href="{{ url_for('hide') }}">Hider</a>-->
    <a class="accessbar" href="{{ url_for('crypto') }}">Crypto</a>
    <a class="accessbar" href="{{ url_for('upload_file') }}">Uploader</a>
    <a class="accessbar" href="{{ url_for('files') }}">All Files</a>
  </div>
  <hr>
    <div class="container">
    <h1>Hello World!</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
             {% for message in messages %}
               <div class="warning">{{ message }}</div>
             {% endfor %}
        {% endif %}
      {% endwith %}


    {%if message%}
    <div class="masterbox"
      <p>Welcome on this 21th millenia webpage, you'll notice the incredible attention to details in the design, and the art-nouveau style !</p>
      <p>This page aims at facilitating comprehension and application of steganoraphy and cryptography (pending as of now), trough actual use of the techniques!</p>
      <br>
      <p>Steganography is, as <a class="inlineref" href="https://en.wikipedia.org/wiki/Steganography" target="_blank">wikipedia</a> describes it, the practice of concealing a file, message, image, or video within another file, message, image, or video.</p>
      <p>Steganography is in fact extremely old, and shares the same roots as cryptography in ancient greece.</p>
      <p>It is, in a larger sense, the art of dissimulating not the meaning of the message, but the message itself. It's a very powerful form of obscuration that eliminates the need to decypher the meaning of the message, and hides the very existence of the message, making steganoraphy the prefered method of communication of covert operations.</p>
      <p>By it's very nature and goals, however, steganography is completely powerless to hide the meaning and nature of a message.
      <p class="intro_hidden"> I am a very basic example of steganography, if you didn't know I was here, you wouln't have found me! Or you pressed ctrl-a, or you tried to copy and paste this block of text, or you have an intensly keen eye, capable of discerning this text which is the same color as the background, or you are superman/superwoman, or i'm a very bad steganographer (pick 2) </p>
      <p>This is what cryptography does.</p>
      <p>Cryptography is, still according to <a class="inlineref" href="https://en.wikipedia.org/wiki/Cryptography" target="_blank">wikipedia</a>, the practice and study of techniques for secure communication in the presence of third parties.</p>
      <p>In other words, cryptography is the art of sending messages by shouting them as loudly as you can, so that anyone can hear it, yet be sure that no one but it's intended recipient understood what it meant</p>
      <p>In a sense, cryptography is less naive than steganography, because it takes into account the possibility, and, in fact, very high likelyhood that anything sent can and will be scrutinized, perhaps by a very large amount of parties, especially on the internet.</p>
      <p>The techniques are not, however, antagonistic in principle, they can be used in conjuction. A message that is both indetectable and impossible to comprehend is very unlikely to ever be captured by a third party.</p>
      <br>
      <br>
      <p>This is what this project will attempt to accomplish, on the very small scale that it represents.</p>
    </div>
    {%endif%}


    {% block content %}{% endblock %}
  </div>
</body>
</html>
