{% extends "index.html" %}

{% block content %}
  <h2> Uploaderino </h2>

  <form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
      <p>{{ form.photo() }} {{ form.submit() }}
      {% for error in form.photo.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      </p>
  </form>
{% endblock %}
