body{
  background-color: rgb(15,15,15);
  color: white;
}
img{
    width:100%;
    max-width:700px;
}
div.container{
  top: 10px;
  bottom: 10px;
  font-family:Liberation sans;
  color: white;
  text-align: center;
}
div.header{
  font-family:Liberation sans;
  text-align: center;
  font-size:22px;
  background-color: rgb(40,40,40);
  height: 32px;
}
div.masterbox{
  position:relative;
  display:inline-block;
  width:1200px;
  height:500px
}
div.imagebox{
  text-align:left;
  float:left;
  width: 700px;
}
div.formbox{
  float:left;
  text-align: left;

}
a.accessbar{
  background-color:rgb(201, 58, 66);
  padding:4px 5px;
  color: rgb(79, 188, 255)
}
a:link, a:visited{
  text-decoration: none;
}
a.accessbar:hover{
  color:rgb(201, 58, 66);
  background-color:rgb(79, 188, 255);
}
a:active{
  text-decoration: underline;
}
a.inlineref{
  background-color: None;
  padding: None;
  color: rgb(60,180,255);
  text-decoration: none;
}
a.inlineref:hover{
  color: rgb(17,45,200);
}
p.intro_hidden{
  color: rgb(15,15,15);
}

div.warning{
  color: rgb(245, 225, 171);
  font-size:20px;
}
textarea {
  resize: none;
}
